<!doctype html>
<html>
<head>
    <title>Edit Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>編輯毛小孩</h1>
            <form id="editPetForm" method="POST" enctype="multipart/form-data">
                <label for="name">毛小孩:</label>
                <input type="text" id="name" name="name" value="{{ pet.name }}" required>
                <label for="gender">性別:</label>
                <input type="text" id="gender" name="gender" value="{{ pet.gender }}" required>
                <label for="breed">品種:</label>
                <input type="text" id="breed" name="breed" value="{{ pet.breed }}" required>
                <label for="birthdate">生日:</label>
                <input type="date" id="birthdate" name="birthdate" value="{{ pet.birthdate }}" required>
                <label for="vaccineDate">疫苗注射:</label>
                <input type="date" id="vaccineDate" name="vaccineDate" value="{{ pet.vaccineDate }}" required>
                <label for="profileImage">Profile Image:</label>
                <input type="file" id="profileImage" name="profileImage" accept="image/*">
                <button type="submit">更新卡片</button>
            </form>
        </div>
    </div>
</body>
</html>